body {
    font-family: 'Source Code Pro', monospace;
}

#header {
    position: fixed;
    top: 15px;
    padding: 10px;
    text-align: center;
}

@media (min-width: 500px) {
    #header {
        left: 50%;
        width: 500px;
        margin-left: -250px;
    }
}