body {
    font-family: 'Source Code Pro', monospace;
}

#header {
    top: 15px;
    padding: 10px;
    text-align: center;
}

@media (min-width: 500px) {

}

#cy {
    width: 500px;
    height: 500px;
    border: 1px #ff976e solid;
    margin-left: -250px;
    left: 50%;
}
